<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shoppinghelper"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.shoppinghelper.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.shoppinghelper.itemListMain"
            android:label="@string/app_name" >
            </activity>
            <activity
            android:name="com.example.shoppinghelper.itemDetailMain"
            android:label="@string/app_name" >
            </activity>
        <activity
            android:name="com.example.shoppinghelper.recipesMainActivity"
            android:label="@string/app_name" >
            </activity>
            <activity
            android:name="com.example.shoppinghelper.recipesDetailMain"
            android:label="@string/app_name" >
            </activity>
        <activity
            android:name="com.example.shoppinghelper.UPCActivity"
            android:label="@string/app_name" >
            </activity>
        <activity
            android:name="com.example.shoppinghelper.dailyDealMain"
            android:label="@string/app_name" >
            </activity>
            <activity
            android:name="com.example.shoppinghelper.dealDetailMain"
            android:label="@string/app_name" >
            </activity>
    </application>

</manifest>
